@CHARSET "UTF-8";

.navbar-brand{
	padding-top: 12px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}


.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-panel{
	float: right;
	padding: 0;
}

.aw-titulo-panel{
	float: left;
	padding: 2px;
	font-weight: bold;
}

.ma-rodape {
	padding-top: 10px;
	text-align: center;
	color: white;
	font-style: italic;
}


