<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa de Títulos</title>
</head>
<section layout:fragment="conteudo">

	<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Pesquisa de Títulos</h1>
					<a class="btn btn-link aw-link-panel" href="/titulos/novo">novo título</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="col-md-1 text-center">#</th>
							<th>Descrição</th>
							<th class="col-md-2 text-center">Data Vencimento</th>
							<th class="col-md-2 text-right">Valor</th>
							<th class="col-md-2 text-center">Status</th>
							<th class="col-md-1 text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${todosTitulos}">
							<td th:text="${titulo.codigo}" class="text-center"></td>
							<td th:text="${titulo.descricao}"></td>
							<td th:text="${titulo.dataVencimento}" class="text-center"></td>
							<td th:text="${titulo.valor}" class="text-right"></td>
							<td th:text="${titulo.status}" class="text-center"></td>
							<td class="text-center">
								<a href="#">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a href="#">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="6">Nenhum título foi encontrado...</td>
						</tr>
					</tbody>
				</table>
			
			</div>
	</div>
</section>
</html>